<div class="cover" style="height: 900px">

  <div class="cover-image" style="background-image : url(<%= asset_path 'Ermitage_mithra_et_le_taureau.JPG' %>)"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>PlatonicRealism.com</h1>
        <p>A &nbsp;revival of Pagan mystery religions</p>
        <br>
        <br>
        <%= link_to " Enter here to discuss", dialectic_path, data: { turbolinks: 'false' }, class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
       <%= image_tag('Roger_Penrose-6Nov2005.jpg', class: 'img-responsive') %>
      </div>
      <div class="col-md-6">
        <h1 class="text-primary">Sir Roger Penrose</h1>
        <h3>The Emperor's New Mind,&nbsp;London: Vintage, 1990</h3>
        <blockquote>
          <p>
            <b>
              <i>My sympathies lie strongly with the Platonistic view that mathematical
                truth is absolute, external, and eternal, and not based on man-made criteria;
                and that mathematical objects have a timeless existence of their own, not
                dependent on human society nor on particular physical objects.&nbsp;</i>
            </b>
          </p>
          <footer>
            <b>Sir Roger Penrose, Mathematical physicist, Wolf prize winner</b>
          </footer>
        </blockquote>
        <p></p>
        <div>
          <b></b>
        </div>
        <p></p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary">Bernard D'Espagnat</h1>
        <h3>Un atome de Sagesse, Le Seuil, 1982, p. 115.</h3>
        <blockquote>
          <p>
            <b>
              <i>Plato’s ideas do not belong to space-time but they exist independently
                of the human mind and are the cause of phenomena. This is why, when we
                talk of Plato, we sometimes talk of the realism of essences. In this sense
                (a distant independent reality, probably not situated in time and space-time),
                it is difficult for the philosophical realism of a physicist to avoid being
                a little bit Platonist. Bohm himself, previously a standard bearer of the
                “materialist” physicists, even says now that perceived objects are only
                projections of what exists (4).</i>
            </b>
          </p>
          <footer>
            <b>Bernard D'Espagnat, Theoretical physicist, Templeton prize winner</b>
          </footer>
        </blockquote>
        <p></p>
      </div>
      <div class="col-md-6">
        <%= image_tag('bde-11.jpg', class: 'img-responsive') %>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag('Bundesarchiv_Bild183-R57262,_Werner_Heisenberg_crop.jpg', class: 'img-responsive') %>
      </div>
      <div class="col-md-6">
        <h1 class="text-primary">Werner Heisenberg</h1>
        <h3>The debate between Plato and Democritus</h3>
        <blockquote>
          <p>
            <b>
              <i>I think that modern physics has definitely decided in favor of Plato.
                In fact the smallest units of matter are not physical objects in the ordinary
                sense; they are forms, ideas which can be expressed unambiguously only
                in mathematical language.</i>
            </b>
          </p>
          <footer>
            <b>Werner Heisenberg, Theoretical physicist, Noble prize winner</b>
          </footer>
        </blockquote>
        <p></p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary">Kurt Gödel</h1>
        <h3>Some basic theorem on the foundations of mathematics and their implications,
          Unpublished text of Josiah Willard Gibbs Lecture, given at Brown University
          in December 1951, p.320</h3>
        <blockquote>
          <p>
            <b>
              <i>However, it seems to me that nevertheless one ingredient of this wrong
                theory of mathematical truth is perfectly correct and really discloses
                the true nature of mathematics. Namely, it is correct that a mathematical
                proposition says nothing about the physical or psychical reality existing
                in space and time, because it is true already owing to the meaning of terms
                occuring in it, irrespectively of the world of real things. What is wrong,
                however, is that the meaning of terms (that is, the concepts they denote)
                is asserted to be something man-made and consisting merely in semantic
                conventions. The truth, I believe, is that these concepts form an objective
                reality of their own, which we cannot create or change, but only perceive
                and describe.</i>
            </b>
          </p>
          <footer>
            <b>Kurt Gödel, Logician and Mathematician, famous for Gödel's Incompleteness theorems</b>
          </footer>
        </blockquote>
        <p></p>
      </div>
      <div class="col-md-6">
        <%= image_tag('kurt-gdel-2-810x675.jpg', class: 'img-responsive') %>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag('carl-sagan.jpg', class: 'img-responsive') %>
      </div>
      <div class="col-md-6">
        <h1 class="text-primary">Carl Sagan</h1>
        <h3>"The Backbone of Night". Cosmos: A Personal Voyage. Episode 7. PBS.&nbsp;(November
          9, 1980)</h3>
        <blockquote>
          <p>
            <b>
              <i>Science and mathematics were to be removed from the hands of the merchants
                and the artisans. This tendency found its most effective advocate in a
                follower of Pythagoras named Plato" and "He (Plato) believed that ideas
                were far more real than the natural world. He advised the astronomers not
                to waste their time observing the stars and planets. It was better, he
                believed, just to think about them. Plato expressed hostility to observation
                and experiment. He taught contempt for the real world and disdain for the
                practical application of scientific knowledge. Plato's followers succeeded
                in extinguishing the light of science and experiment that had been kindled
                by Democritus and the other Ionians."</i>
            </b>
          </p>
          <footer>
            <b>Carl Sagan, Astronomer</b>
          </footer>
        </blockquote>
        <p></p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary">Godfrey Harold Hardy</h1>
        <h3>A Mathematician’s Apology, London, 1941</h3>
        <blockquote>
          <p>
            <b>
              <i>I believe that mathematical reality lies outside us, that our function
                is to discover or observe it, and that the theorems which we prove, and
                which we describe grandiloquently as our “creations,” are simply the notes
                of our observations.</i>
            </b>
          </p>
          <footer>
            <b>Godfrey Harold Hardy, Mathematician</b>
          </footer>
        </blockquote>
        <p></p>
      </div>
      <div class="col-md-6">
        <%= image_tag('Godfrey_Harold_Hardy_1.jpg', class: 'img-responsive') %>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag('148309.jpg', class: 'img-responsive') %>
      </div>
      <div class="col-md-6">
        <h1 class="text-primary" contenteditable="true">Alfred North Whitehead</h1>
        <h3>Process and Reality: An Essay in Cosmology (1929)
          <br>Pt. II, ch. 1, sec. 1.</h3>
        <p>
          <br>
        </p>
        <blockquote>
          <p>
            <b>
              <i>The safest general characterization of the European philosophical tradition
                is that it consists of a series of footnotes to Plato.</i>
            </b>
          </p>
          <footer>
            <b>Alfred North Whitehead, Mathematician and Philosopher</b>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary">Julian The Emperor</h1>
        <h3>
          Upon the Sovereign Sun (362)
        </h3>
        <blockquote>
          <p>
            <b>
              <i>I am aware that the great Plato himself, and after him, a man posterior
                to him in date, though not in mind, I mean Iamblichus of Chalcis (who initiated
                us into other branches of philosophy, and also into this by means of his
                discourses), did both of them as far as hypothesis goes, take for granted
                the fact of a Creation and assumed the universe to have been, in a certain
                sense, the Work of Time, in order that the most important of the effects
                produced by this Power, may be reduced into a shape for examination.</i>
            </b>
          </p>
          <footer>
            <b>Julian The Emperor, Neoplatonist, follower of King Helios-Aion-Mithras</b>
          </footer>
        </blockquote>
        <p></p>
      </div>
      <div class="col-md-5">
        <%= image_tag('Julian.jpg', class: 'img-responsive') %>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= image_tag('hanslewy.jpg', class: 'img-responsive') %>
      </div>
      <div class="col-md-6">
        <h1 class="text-primary">Hans Yochanan Lewy</h1>
        <h3>Chaldaean Oracles and Theurgy: Mysticism, Magic, and Platonism in the
          later Roman Empire. (Paris: Études Augustiniennes, 1978) pp. 151-2.</h3>
        <p>
          <br>
        </p>
        <blockquote>
          <p>
            <b>
              <i>The Chaldaeans distinguished between two fiery bodies: one possessed of
                a noetic nature and the visible sun. The former was said to conduct the
                latter. According to Proclus, the Chaldaeans call the "solar world" situated
                in the supramundane region "entire light." In another passage, this philosopher
                states that the supramundane sun was known to them as "time of time...."</i>
            </b>
          </p>
          <footer>
            <b>Hans Yochanan Lewy, Classical Scholar, Hebrew University, Jerusalem</b>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary">Proclus</h1>
        <h3>Proclus on The Timaeus of Plato</h3>
        <blockquote>
          <p contenteditable="true">
            <b>
              <i>On this account, it appears to me that Plato delivers a twofold generation
                of the Sun; one indeed, in conjunction with the seven governors of the
                world, when he fashions the bodies of them, and inserts them in circulations;
                but the other according to the enkindling of light, through which he imparts
                to the Sun supermundane power. For it is one thing to generate the bulk
                of the Sun itself by itself, and another in conjunction with a ruling characteristic,
                through which the Sun is called the king of every visible nature, and is
                established analogous to the one fountain of good. For as this fountain,
                being better than the intelligible essence, illuminates both intellect
                and the intelligible, thus also the sun being better than a visible nature,
                illuminate both that which is visible and sight. But if the Sun is beyond
                a visible essence, it will have a supermundane nature. For the world is
                visible and tangible, and has a body. Hence, we must survey the Sun in
                a twofold respect; viz. as one of the seven planets, and as the leader
                of wholes; and as mundane and supermundane, according to the latter of
                which he splendidly emits a divine light. For in the same manner as The
                Good luminously emits truth which deifies the intelligible and intellectual
                order; as Phanes in Orpheus sends forth intelligible light which fills
                with intelligence all the intellectual Gods; and as Jupiter enkindles an
                intellectual and demiurgic light in all the supermundane Gods; thus also
                the Sun illuminates every thing visible through this undefiled light. The
                illuminating cause too is always in an order superior to the illuminated
                natures. For neither is The Good intelligible, nor Phanes intellectual,
                nor Jupiter supermundane. In consequence of this reasoning therefore, the
                Sun being supermundane emits the fountains of light. And according to the
                most mystic doctrines, the wholeness of the Sun is in the supermundane
                orders; for in them there is a solar world, and a total light, as the Chaldean
                Oracles assert, and which I am persuaded is true. And thus much concerning
                these things.</i>
            </b>
          </p>
          <footer>
            <b>Proclus, Neoplatonist</b>
          </footer>
        </blockquote>
        <p></p>
      </div>
      <div class="col-md-6">
        <%= image_tag('proclus.jpg', class: 'img-responsive') %>
      </div>
    </div>
  </div>
</div>
<footer class="section section-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>PlatonicRealism.com</h1>
        <p>A revival of pagan mystery religions</p>
      </div>
      <div class="col-sm-6">
        <p class="text-info text-right">
          <br>
          <br>
        </p>
        <div class="row">
          <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 hidden-xs text-right">
            <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
            <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
